* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(wallpaper.jpg);
  background-size: cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.8rem;
  font-size: 1.5rem;
  border: none;
  margin-left: 1rem;
  background: #fff;
  border-radius: 20px;
}

form input {
  background: #def4e4;
}

form button {
  color: #def4e4;
  background: #3e6787;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #2c4a61;
  color: #abd1b5;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #def4e4;
  color: #3e6787;
  border-radius: 20px;
  padding: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #b48b8b;
  color: #3e6787;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 5px;
  border-radius: 20px;
}

.complete-btn {
  background: #b2f0a0;
}

.todo-itemm {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  border: nones;
  width: 10rem;
  cursor: pointer;
  padding: 1.15rem;
  border-radius: 20px;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #3e6787;
  color: #def4e4;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 20px;
  padding: 0.8rem;
  pointer-events: none;
  transform: all 0.3s ease;
}

.select:hover::after {
  background: #2c4a61;
  color: #abd1b5;
}
